@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title">
    <br />

    <div class="form-group">
        <label asp-for="DueAt">Due date:</label>
        <input asp-for="DueAt" type='text' id="datepicker">
    </div>

    <br />
    <button type="submit">Add</button>
</form>


<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: 'mm/dd/yyyy',
            autoClose: true,
            todayHighlight: true,
            orientation: "top"
        });
    });

</script>


@*@section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("p").click(function () {
                    $(this).hide();
                });
            });
        </script>
    }*@