@model TodoItem

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>


<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title">
    <br />
    
    <div class="form-group">
        <label asp-for="DueAt">Due date:</label>
        <input asp-for="DueAt" id="datepicker">
    </div>

    <br />
    <button type="submit">Add</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DatepickerPartial");
    }
}
