@model TodoItem

<div class="form-group bg-light" >
    <form asp-action="AddItem" method="POST" class="border p-2">
        <table>
            <tr>
                <td><label asp-for="Title">Add a new item:</label></td>
                <td><input asp-for="Title"></td>
            </tr>
            <tr>
                <td><label asp-for="DueAt">Due date:</label></td>
                <td><input asp-for="DueAt" type='text' id="datepicker"></td>
            </tr>
        </table>
        <button type="submit">Add</button>
    </form>
</div>



<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({
            dateFormat: 'mm/dd/yyyy',
            autoClose: true,
            todayHighlight: true,
            orientation: "top"
        });
    });

</script>


